$twitter-color: #00aced;
$instagram-color: #c13584;
$spotify-color: #1db954;

.milk-logo {
  width: 41px;
  height: 41px;
  margin-right: 10px;
}

.zi-btn:hover {
  text-decoration: none;
}

.milk-title {
  margin-bottom: 0px;
}

.milk-request {
  margin-top: 12px;
}

.milk-examplelinks a,
.milk-request a {
  margin-bottom: 5px;
  margin-right: 15px;
}

.check {
}

.milk-examplelinks a {
  color: white;

  &.twitter {
    background: $twitter-color;
    &:hover {
      border-color: $twitter-color !important;
      color: $twitter-color !important;
    }
  }
  &.instagram {
    background: $instagram-color;
    &:hover {
      border-color: $instagram-color !important;
      color: $instagram-color !important;
    }
  }
  &.spotify {
    background: $spotify-color;
    &:hover {
      border-color: $spotify-color !important;
      color: $spotify-color !important;
    }
  }
}

.netlify-badge {
  display: block;
  margin-top: 5px;
  opacity: 0.6;
  width: 80px;
}

.netlify-badge img {
  width: 80px;
}

.netlify-badge:hover {
  opacity: 1;
}
