.milk-logo {
  width: 41px;
  height: 41px;
  margin-right: 10px;
}

.zi-btn:hover {
  text-decoration: none;
}

.milk-title {
  margin-bottom: 0px;
}

.milk-examplelinks a,
.milk-request a {
  margin-bottom: 5px;
  margin-right: 15px;
}

.check {
  color: #87d068;
}
