.milk-logo {
  width: 41px;
  height: 41px;
  margin-right: 10px;
}

.zi-btn:hover {
  text-decoration: none;
}

.milk-title {
  margin-bottom: 0px;
}

.milk-request {
  margin-top: 12px;
}

.milk-examplelinks a,
.milk-request a {
  margin-bottom: 5px;
  margin-right: 15px;
}

.check {
}

.milk-examplelinks a {
  color: white;

  &.twitter {
    background: #00aced;
  }
  &.instagram {
    background: #c13584;
  }
  &.spotify {
    background: #1db954;
    box-shadow: 0 3px 10px rgba(30, 215, 96, 0.12);
  }
}
